target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

# ignore Maven generated target folders
target
out


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Mac ###
.DS_Store

### nodejs tools
/scripts/node_modules/
/scripts/package-lock.json
/scripts/webpage.html
